$font: 'Heebo', sans-serif;
$primary: #ff6464;
$secondary: #EDF7FA;

//landing page

.landing_wrapper {
    height: 100vh;
    padding: 5rem;
    position: relative;
}

.landing_wrapper h1 {
    margin-top: 20vh;
    font-size: 2.75rem;
}

.landing_wrapper p {
    font-size: 1rem;
    width: 600px;
    margin-top: 1rem;
    line-height: 32px;
}

.landing_wrapper button {
    text-decoration: none;
    background-color: $primary;
    color: #fff;
    font-size: 1.25rem;
    border: none;
    padding: 9px 21px;
    margin-top: 2rem;
    transition: background-color 0.5s;
    cursor: pointer;
    &:hover {
        background-color: #000000;
    }
}

.main_projects {
    background-color: $secondary;
    padding: 32px 148px;
}

.main_projects_upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 22px;
}

.main_projects_upper p {
    font-size: 1.375rem;
}

.main_projects_upper a {
    color: #00A8CC;
    text-decoration: none;
}

.main_projects_container {
    display: flex;
    justify-content: space-between;
}

.main_projects_cards {
    background-color: #fff;
    padding: 24px;
    width: 48%;
}

.main_projects_cards > *:first-child {
    font-weight: bold;
    font-size: 1.625rem;
    margin-bottom: 1rem;
}

.main_projects_cards > *:nth-child(2) {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.landing_about {
    padding: 4rem 148px;
}

.landing_about h2 {
    margin-bottom: 3rem;
    font-weight: 500;
}

.landing_img_holder {
    width: 310px;
    height: auto;
    margin-right: 2rem;
}

.landing_img_holder img {
    border-radius: 6px;
}

.stack_container {
    display: flex;
    padding-bottom: 2rem;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 2rem;
}

.stack_exp {
    width: 72%;
    display: flex;
    flex-direction: column;
}

.stack_exp > *:first-child {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.stack_exp > *:nth-child(2) {
    font-size: 1.25rem;
    background-color: #142850;
    align-self: baseline;
    color: #fff;
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

//media queries

//mobile
@media only screen and (max-width: 768px) {
    //landing page
    .landing_wrapper {
        padding: 2rem;
        
    }

    .landing_wrapper div {
        position: absolute;
        bottom: 10%;
        left: 0;
        display: flex;
        flex-direction: column;
    }

    .landing_wrapper h1 {
        font-size: 2rem;
        text-align: center;
        padding: 0 2rem;
    }

    .landing_wrapper p {
        width: 100%;
        text-align: center;
        padding: 0 2rem;
    }

    .landing_wrapper button {
        margin-left: auto;
        margin-right: auto;
    }

    .main_projects {
        padding: 32px 11px;
    }

    .main_projects_container {
        flex-direction: column;
    }

    .main_projects_container > *:not(:last-child) {
        margin-bottom: 1rem;
    }

    .main_projects_cards {
        width: 100%;
    }

    .main_projects_cards > *:first-child {
        font-size: 1.375rem;
        margin-bottom: 12px;
    }

    .main_projects_cards > *:nth-child(2) {
        font-size: 1rem;
        margin-bottom: 12px;
    }

    .main_projects_upper {
        justify-content: center;
    }

    .main_projects_upper a {
        display: none;
    }

    .landing_about {
        padding: 4rem 18px;
    }

    .landing_about h2 {
        text-align: center;
        font-size: 1.5rem;
    }

    .stack_container {
        flex-direction: column;
    }

    .landing_img_holder {
        width: 100%;
        margin-bottom: 1rem;
    }

    .stack_exp {
        width: 100%;
    }

    .stack_exp > *:first-child {
        font-size: 1.5rem;
    }

    .stack_exp > *:nth-child(2) {
        font-size: 1rem;
    }
}