@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

$font: 'Heebo', sans-serif;
$primary: #ff6464;
$secondary: #EDF7FA;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

//nav styling
nav {
    height: 70px;
    padding: 0 4rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

nav div a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

nav div {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-active {
    color: $primary
}

//footer
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

footer p {
    font-size: 1.1rem;
}

.footer-socials {
    display: flex;
    justify-content: space-between;
    width: 255px;
    margin-bottom: 26px;
}

//landing page

.landing-wrapper {
    height: 100vh;
    padding: 5rem;
    position: relative;
}

.landing-wrapper h1 {
    margin-top: 20vh;
    font-size: 2.75rem;
}

.landing-wrapper p {
    font-size: 1rem;
    width: 600px;
    margin-top: 1rem;
    line-height: 32px;
}

.landing-wrapper button {
    background-color: $primary;
    color: #fff;
    font-size: 1.25rem;
    border: none;
    padding: 9px 21px;
    margin-top: 2rem;
    transition: background-color 0.5s;
    cursor: pointer;
    &:hover {
        background-color: #000000;
    }
}

.main-projects {
    background-color: $secondary;
    padding: 32px 148px;
}

.main-projects_upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 22px;
}

.main-projects_upper p {
    font-size: 1.375rem;
}

.main-projects_upper a {
    color: #00A8CC;
    text-decoration: none;
}

.main-projects_container {
    display: flex;
    justify-content: space-between;
}

.main-projects_cards {
    background-color: #fff;
    padding: 24px;
    width: 48%;
}

.main-projects_cards > *:first-child {
    font-weight: bold;
    font-size: 1.625rem;
    margin-bottom: 1rem;
}

.main-projects_cards > *:nth-child(2) {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.landing-about {
    padding: 4rem 148px;
}

.landing-about h2 {
    margin-bottom: 3rem;
}

.landing-img_holder {
    width: 310px;
    height: auto;
    margin-right: 2rem;
}

.landing-img_holder img {
    border-radius: 6px;
}

.stack-container {
    display: flex;
    padding-bottom: 2rem;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 2rem;
}

.stack-exp {
    width: 72%;
    display: flex;
    flex-direction: column;
}

.stack-exp > *:first-child {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.stack-exp > *:nth-child(2) {
    font-size: 1.25rem;
    background-color: #142850;
    align-self: baseline;
    color: #fff;
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

//works page
.works-page {
    padding: 160px 235px 0;
}

.works-page h1 {
    font-size: 2.75rem;
    margin-bottom: 55px;
}

.works-card {
    display: flex;
    padding-bottom: 47px;
    border-bottom: solid 2px #e0e0e0;
    margin-bottom: 43px;
}

.works-card img {
    width: 400px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 30px;
}

.works-card div > *:first-child {
    font-weight: bold;
    font-size: 1.875rem;
    margin-bottom: 1rem;
}

.works-card div > *:nth-child(2) {
    color: #8695A4;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

//media queries

//mobile
@media only screen and (max-width: 768px) {
    //landing page
    .landing-wrapper {
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    .landing-wrapper h1 {
        font-size: 2rem;
        margin-top: 100%;
        text-align: center;
    }

    .landing-wrapper p {
        width: 100%;
        text-align: center;
    }

    .landing-wrapper button {
        margin-left: auto;
        margin-right: auto;
    }

    .main-projects {
        padding: 32px 11px;
    }

    .main-projects_container {
        flex-direction: column;
    }

    .main-projects_container > *:not(:last-child) {
        margin-bottom: 1rem;
    }

    .main-projects_cards {
        width: 100%;
    }

    .main-projects_cards > *:first-child {
        font-size: 1.375rem;
        margin-bottom: 12px;
    }

    .main-projects_cards > *:nth-child(2) {
        font-size: 1rem;
        margin-bottom: 12px;
    }

    .landing-about {
        padding: 4rem 18px;
    }

    .stack-container {
        flex-direction: column;
    }

    .landing-img_holder {
        width: 100%;
        margin-bottom: 1rem;
    }

    .stack-exp {
        width: 100%;
    }

    .stack-exp > *:first-child {
        font-size: 1.5rem;
    }

    .stack-exp > *:nth-child(2) {
        font-size: 1rem;
    }
}