@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

$font: 'Heebo', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}