//works page
.works_page {
    padding: 160px 235px 0;
}

.works_page h1 {
    font-size: 2.75rem;
    margin-bottom: 55px;
}

.works_card {
    display: flex;
    padding-bottom: 47px;
    border-bottom: solid 2px #e0e0e0;
    margin-bottom: 43px;
}

.works_card img {
    width: 400px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 30px;
}

.works_card div > *:first-child {
    font-weight: bold;
    font-size: 1.875rem;
    margin-bottom: 1rem;
}

.works_card div > *:nth-child(2) {
    color: #8695A4;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
    .works_page {
        padding: 100px 13px 0;
    }

    .works_page h1 {
        font-size: 1.875rem;
        margin-bottom: 40px;
    }

    .works_card {
        flex-direction: column;
    }

    .works_card img {
        margin-right: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .works_card div > *:first-child {
        font-size: 1.5rem;
    }

    .works_card div > *:nth-child(2) {
        font-size: 1rem;
    }
}